*
{
	padding: 0;
	margin: 0;
}

*:focus
{
	outline: 0;
}

body
{
	background: grey url('http://static.minecraft.runsafe.no/images/background.png');
	font-family: Arial;
	font-size: 10pt;
}

a
{
	text-decoration: none;
	color: #296FBE;
}

h1, h2
{
	font-size: 1.5em;
	margin-bottom: 10px;
}

h2
{
	margin-top: 15px;
}

h3
{
	font-size: 1.3em;
	margin-bottom: 10px;
}

p
{
	padding-left: 10px;
	margin: 10px 0;
}

#container
{
	width: 980px;
	margin: 20px auto;
	border: 1px solid black;
	border-radius: 20px;
}

#header
{
	height: 150px;
	background: black url('http://static.minecraft.runsafe.no/images/header.png') no-repeat center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom: 1px solid black;
	position: relative;
}

#copyright
{
	float: left;
	padding-left: 20px;
}

#credits
{
	float: right;
	padding-right: 20px;
}

#footer
{
	height: 30px;
	background-color: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#content
{
	padding: 20px 30px 30px 30px;
	background-color: white;
}

.staff-listing
{
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
}

#staff-list
{
	margin: 0 auto;
	width: 60%;
}

#staff-left, #spleef-leaderboard-small-left
{
	float: left;
}

#staff-right, #spleef-leaderboard-small-right
{
	float: right;
}

#staff-list-padder, #spleef-leaderboard-padder, .float-padder
{
	clear: both;
}

#navigation
{
	text-align: center;
	height: 36px;
	background: url('http://static.minecraft.runsafe.no/images/dirt_bg_repeat.png') repeat-x;
}

#navigation ul
{
	font: Bookman Old Style;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000000;
	list-style: none;
	width: 100%;
	padding-top: 8px;
}

#navigation ul a
{
	color: white;
}

#navigation ul li
{
	display: inline;
	margin: 0 15px;
}

#map
{
	width: 100%;
	height: 700px;
	margin: 20px 0;
}

#spleef-leaderboard-top
{
	margin: 0 auto;
}

#spleef-leaderboard-top td
{
	height: 50px;
	background-repeat: no-repeat;
	background-position: top center;
	vertical-align: bottom;
	text-align: center;
	padding: 0 10px;
}

#spleef-leaderboard-small
{
	margin: 20px auto;
	width: 500px;
}

#spleef-leaderboard-small p img, #spleef-lookup img
{
	margin-right: 5px;
}

.input-text
{
	padding: 2px 2px;
	width: 200px;
}

.input-button
{
	margin-left: 10px;
	padding: 5px 15px;
}

#spleef-leaderboard-padder
{
	margin-bottom: 25px;
}

#spleef-lookup img
{
	height: 16px;
	width: 16px;
	background: url('http://static.minecraft.runsafe.no/images/player_face.png') no-repeat center;
}

#spleef-leaderboard-small-left
{
	float: left;
}

#spleef-leaderboard-small-right
{
	float: right;
}

#login-table
{
	border-spacing: 5px;
}

#login-table th
{
	text-align: right;
}

.form-input-text, .form-input-button
{
	padding: 4px 4px;
	border: 1px solid #999999;
}

.form-input-text
{
	width: 200px;
}

.form-input-button
{
	padding: 4px 10px;
	cursor: pointer;
}

.form-input-text:focus, .form-input-button:hover
{
	border: 1px solid black;
}

#login-notice
{
	background: #E68E8E;
	border: 2px solid #E32B2B;
	padding: 10px;
	margin-bottom: 10px;
	display: none;
}

#login-corner
{
	position: absolute;
	right: 0px;
	border-top-right-radius: 20px;
	background: white;
	padding: 5px 10px;
}

.purchase
{
	background-position: 5px center;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 45px;
	border: 1px solid #999999;
	background-color: #CCCCCC;
	cursor: pointer;
	margin-bottom: 5px;
}

.purchase:hover
{
	border: 1px solid black;
	background-color: #999999;
}

.purchase-title
{
	font-weight: bold;
}

#do
{
	cursor: pointer;
}

.dog-response
{
	width: 100%;
}

.dog-response .pattern, .dog-response .reply
{
	width: 49%;
	margin-bottom: 3px;
	padding: 2px;
	border: 1px solid #B8B8B8;
	background: white;
}