#header
{
	height: 120px;
	background: #006e2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #006e2e 0%, #236d42 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006e2e), color-stop(100%,#236d42)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #006e2e 0%,#236d42 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #006e2e 0%,#236d42 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #006e2e 0%,#236d42 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #006e2e 0%,#236d42 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#236d42',GradientType=0 ); /* IE6-9 */
}

a img
{
	border: 0;
}

#header-content
{
	height: 117px;
}

#header-content a
{
	padding: 3.2em;
}

.divider, #header-content a:hover
{
	background-color: #9CC582;
}

.strong
{
	font-weight: bold;
}

#logo
{
	margin-top: 20px;
}

#content
{
	padding: 48px 0 20px 0;
}

#main-content
{
	padding: 0 20px;
}

#offer-tiles
{
	padding: 25px;
}

#offer-tiles div
{
	width: 550px;
	display: inline-block;
	padding: 5px;
}

#offer-tiles div img
{
	float: left;
	margin-right: 10px;
}

#hb-status
{
	padding: 40px;
}

#hb-status h2, #hb-status p
{
	font-size: 2.1em;
}

#hb-status th
{
	padding-right: 15px;
}

#skin-upload
{
	height: 0;
	width: 0;
}

form
{
	margin-top: 20px;
}

.form-button
{
	padding: 10px 25px;
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	border: 1px solid #9CC582;
	border-radius: 5px;
	cursor: pointer;
}

.form-button:hover
{
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

.form-field
{
	padding: 4px;
}

form table td, form table th
{
	padding: 5px;
}

form table
{
	margin-bottom: 10px;
}